* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: black;
}

#leftMenu,
#screen,
#editor,
#play-data-display,
#selector {
  border: 3px solid black;
  animation-name: rainbowborder;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#leftMenu {
  position: fixed;
  width: 10%;
  height: 50%;
  top: 0;
  left: 0;
}

.left-buttons {
  position: absolute;
  width: 100%;
  height: 25%;
  vertical-align: top;
  background-color: black;
  border: 2px solid black;
  animation-name: rainbowborder, rainbow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#cancel {
  top: 0;
  font-size: 8vw;
  line-height: 0;
}

#redo {
  top: 25%;
  font-size: 8vw;
  line-height: 0;
}

#swapFullScreen {
  bottom: 25%;
  font-size: 1.5vw;
}

#setting {
  bottom: 0;
  font-size: 2.5vw;
}


#screen {
  position: fixed;
  width: 50%;
  height: 45%;
  top: 0;
  left: 10%;
}

#editor {
  position: fixed;
  width: 40%;
  height: 50%;
  top: 0;
  left: 60%;
  animation-name: rainbowborder, rainbowbackground;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rainbowborder {
  0% {
    border-color: #ff0000;
  }

  17% {
    border-color: #ff00ff;
  }

  33% {
    border-color: #0000ff;
  }

  50% {
    border-color: #00ffff;
  }

  67% {
    border-color: #00ff00;
  }

  83% {
    border-color: #ffff00;
  }

  100% {
    border-color: #ff0000;
  }
}

@keyframes rainbowfill {
  0% {
    fill: #ff0000;
  }

  17% {
    fill: #ff00ff;
  }

  33% {
    fill: #0000ff;
  }

  50% {
    fill: #00ffff;
  }

  67% {
    fill: #00ff00;
  }

  83% {
    fill: #ffff00;
  }

  100% {
    fill: #ff0000;
  }
}

@keyframes rainbow {
  0% {
    color: #ff0000;
  }

  17% {
    color: #ff00ff;
  }

  33% {
    color: #0000ff;
  }

  50% {
    color: #00ffff;
  }

  67% {
    color: #00ff00;
  }

  83% {
    color: #ffff00;
  }

  100% {
    color: #ff0000;
  }
}

@keyframes rainbowbackground {
  0% {
    background-color: #ff0000;
  }

  17% {
    background-color: #ff00ff;
  }

  33% {
    background-color: #0000ff;
  }

  50% {
    background-color: #00ffff;
  }

  67% {
    background-color: #00ff00;
  }

  83% {
    background-color: #ffff00;
  }

  100% {
    background-color: #ff0000;
  }
}

#editor-back {
  position: absolute;
  aspect-ratio: 1;
  width: 5vh;
  border: 2px solid black;
  background-color: black;
  animation-name: rainbow, rainbowborder;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  visibility: hidden;
  z-index: 30;
  font-size: 3vh;
}

.editor-menu {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  background-color: black;
  animation-name: rainbow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.editor-menus {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  animation-name: rainbow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#editor-menu-main {
  visibility: visible;
}

#editor-button-addElem {
  /*上*/
  line-height: 0;
  top: 0;
  left: 0;
  height: 50%;
  clip-path: polygon(0 0, 100% 0, 50% 95%);
  font-size: 20vw;
  text-align: center;
}

#editor-button-importProject {
  text-align: right;
  /*右*/
  top: 0;
  right: 0;
  width: 50%;
  clip-path: polygon(5% 50%, 100% 100%, 100% 0);
  font-size: 3vw;
}

#editor-button-importFile {
  text-align: left;
  /*左*/
  top: 0;
  left: 0;
  width: 50%;
  clip-path: polygon(95% 50%, 0 0, 0 100%);
  font-size: 3vw;
}

#editor-button-export {
  /*下*/
  top: 50%;
  left: 0;
  height: 50%;
  clip-path: polygon(0 100%, 100% 100%, 50% 5%);
  text-align: center;
  font-size: 4vw;
}

.hiddenDialog {
  display: none;
}

#editor-menu-sub {
  position: absolute;
  width: 100%;
  height: 100%;
}

#editor-menu-sub-top {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
}

#editor-subtitle {
  position: fixed;
  color: white;
  position: absolute;
  left: 7.5vh;
  font-size: 3vh;
  animation-name: rainbow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#editor-menu-sub-bottom {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90%;
  animation-name: rainbowborder, rainbow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.editor-addElem-button {
  width: 100%;
  height: 25%;
  background-color: black;
  border: 1.5px solid black;
  animation-name: rainbow, rainbowborder;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 5vh;
}

.editor-addElem-button-video {
  top: 0;
}

.editor-addElem-button-image {
  top: 25%;
}

.editor-addElem-button-audio {
  top: 50%;
}

.editor-addElem-button-text {
  top: 75%;
}

/*selector*/
#playControler {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 10%;
  width: 50%;
  height: 5%;
  background-color: black;
  border: 3px solid black;
  animation-name: rainbow, rainbowborder;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

.player-button {
  height: 100%;
  aspect-ratio: 1;
  background-color: black;
  border: 1px solid black;
  animation-name: rainbow, rainbowborder;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.player-button-svg {
  width: 90%;
  aspect-ratio: 1;
  animation-name: rainbowfill;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#guideline {
  position: fixed;
  top: 50%;
  left: 47.5%;
  height: 50%;
  width: 5%;
  z-index: 100;
  animation-name: rainbowfill;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#play-data-display {
  position: fixed;
  width: 100%;
  height: 5%;
  top: 50%;
}

#current-time {
  color: white;
  font-family: sans-selif;
  font-size: 3vh;
}

#selector {
  position: fixed;
  width: 100%;
  height: 45%;
  top: 55%;
  left: 0;
  overflow: scroll;
  text-overflow: clip;
  display: flex;
  justify-content: flex-end;
}

#selector-start {
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.selector-start-layer,
.selector-end-layer {
  width: 100%;
  height: 20%;
  background-color: black;
  color: white;
  font-size:5vh;
  border: 2px solid white;
  animation-name: rainbow, rainbowborder;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#selector-main {
  box-sizing: content-box;
  --selector-elems-width: 150%;
  position: absolute;
  left: calc(50% + 3px);
  width: calc(50vw  + var(--selector-elems-width));
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.selector-elems-layer {
  width: 100%;
  height: 20%;
  background-color: black;
  color: white;
  border: 2px solid white;
  animation-name: rainbow, rainbowborder;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.element-image {
  color: white;
  border: blue solid 5vh;
}
.element-video {
  color: white;
  border: green solid 5vh;
}
.element-audio {
  color: white;
  border: red solid 5vh;
}.element-text {
  color: white;
  border: blue solid 5vh;
}

#selector-end {
  position: absolute;
  text-align: right;
  right:0;
  width: calc(50vw - 4 * 3px);
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

#current-time{
  animation-name: rainbow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}